body {
    background-image: url(images/lawback2.webp);
}
.whole {
    width:95%;
    background-color: rgb(173, 145, 107);
    margin-left:auto;
    margin-right: auto;
}
hr {
    height: 5px;
    background-color: maroon;
}
h1 {
    text-align: center;
    font-size: 33.5px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h3 {
    text-align: center;
    font-size: 27.5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
section {
    text-align: center;
}
.img {
    width:140px;
    height:115px;
    border-radius: 10px;
}